<html>
  <head>
    <title> Worlds Blankest Blank </title>
    <%= stylesheet_link_tag :application %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Smokum" %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "jquery.js", "rails.js", "application.js" %>
    
  </head>
  <body>
      <header>
        <h1>The World's Blankest Blank </h1>
        <p> The world's ... <p>

      <%= yield %>
      </header>
    </body>


  </html>




  <%# $("#val").val((parseInt($("#val").val())+1)); %>
